
body
  font-family: "sl-Apres", sans-serif
  background-color: white
  box-sizing: border-box
  margin: 0 auto
  padding: 0
  width: 80%

  header
    h1
      font-size: 300%
      font-weight: bold

