doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Web Page
    link(rel='stylesheet' type='text/css' href='css/fonts.css')
    link(rel='stylesheet' type='text/css' href='css/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')
  body
    header
      h1 Web Page
    div#content
      | Content
    script(type='text/javascript', src='js/bundle.js')
