doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Slate Authoring
    link(rel='shortcut icon' href='http://www.google.com/s2/favicons?domain=www.slate.com')
    link(rel='stylesheet' type='text/css' href='css/fonts.css')
    link(rel='stylesheet' type='text/css' href='css/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='css/Draft.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')
  body
    header
      h1 Slate Authoring
    div#content
      | Content
    script(type='text/javascript', src='js/bundle.js')
